* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding-top: 100px;
    width: 100%;
}

.student-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    gap: 20px;
}

@media (min-width: 568px) {
    .student-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 786px) {
    .student-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .student-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.student-card {
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;

    h3 {
        font-weight: bold;
        font-style: italic;
        font-size: 28px;
    }

    span {
        font-weight: bold;
        color: orangered;
    }
}

.student-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.widget-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px;
    border: 2px solid black;
    background: white;
    display: flex;
    gap: 20px;

    label {
        font-weight: bold;
        font-size: 18px;
    }

    select {
        padding: 5px;
    }
}

.widget-panel:hover {
    box-shadow:  0 4px 10px 0 rgba(0, 0, 0, 0.4);
}

/*Modal template*/

.student-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-modal__info-container {
    width: 80%;
    position: relative;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

    h3 {
        font-weight: bold;
        font-style: italic;
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    span {
        font-weight: bold;
        color: orangered;
    }
}

.student-modal__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;

    span {
        transform: scaleY(.7);
    }
}

/* Preloader template */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #3B5998;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3B5998 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
